  <div class="navbar navbar-sub navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../index.html"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="juno-tabs navbar-right">
                <li><a class="btn btn-lg btn-hiring" id="btn-hiring" href="#" role="button">We Are Hiring</a></li>
                <li><a class="btn btn-lg btn-login" id="btn-login" href="#" role="button">Login</a></li>
              </ul>
            </div>
          </div>
 </div>
  <div class="sub-content-bg">
  <div class="container">
    <div class="sub-content">
        <div class="sub-main-header col-md-12">
          <div class="row">
          <span class="sub-header-size">Welcome to Junoway Subscriptions</span>
          </div>
          <div class="row"> 
          <span class="sub-small-text">Exclusive <span style="color:#6f9fb7;">Access</span> to Registered Healthcare <span style="color:#EEA236;">Practitioners and Facilitators.</span></p>
          </div>
        </div>
  </div>
  </div>
</div>
 <div style="z-index:9999;" id="sub-warning" class="modal">
    <div class="modal-dialog animated zoomIn">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="sub-popup-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="sub-warning-title fa-2x">Warning!</h4>
            </div>
            <div class="modal-body">
                <p class="text-warning sub-warning-content">Subscription to the Junoway Platform is <strong>STRICTY </strong>for registered and licensed healthcare 
                  <strong>Practitioners</strong> and <strong>Facilitators</strong>, Please observe that all information submitted <strong>HERE</strong> is correct and you are authorised to perform this action.</p>
                <p><small>Thank you!</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn sub-btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 
 <div class="sub-menu-navbar"></div>
<div class="container sub-row-space">
  <div class="sub-join">
  <h1>Join As:</h1>
  </div>

  <!-- Begining of Practitioners-->
  <div class="col-md-6">
    <div class="panel sub-panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading text-uppercase">Practitioners</div>
        <div class="panel-body">
          <p class="text-danger"><small>Note: STRICTLY For registered and Licensed Healthcare Practitioners</small></p>
        </div>

        <!-- List group -->
        <ul class="sub-list-group">
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Surgeon</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Dentist</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Physician/Doctor</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Registered Nurse</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Lab Assistant</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Health Worker</li></a>
        </ul>
      </div>
  </div><!-- /- End of Practitioners-->



<!-- Begining of Facilitators -->
  <div class="col-md-6">
    <div class="panel sub-panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading text-uppercase">Facilitators</div>
        <div class="panel-body">
          <p class="text-danger"><small>Note: STRICTLY For registered and Licensed Healthcare Facilitators </small></p>
        </div>

        <!-- List group -->
        <ul class="sub-list-group">
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Hospitals</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Clinics</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Laboratories</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Hospice & Recuperation</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Wellness & Spa</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Patient Hostels</li></a>
        </ul>
      </div>
  </div><!-- /- End of Facilitators -->
  </div><!-- /- Container -->











 <!-- Footer-->
<div id="footer">
  <div class=" footer-bg footer-background">
    <div class="container">
      <div class="col-md-4 juno-copyright">
        <div>Junoway &copy All rights Reserved 2014</div>
      </div>

      <div class="col-md-6 juno-items-right">
        <div class="juno-footer-links">
            <ul class="juno-link-items">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Policy</a></a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
        </div>
      </div>
        <div class="row-space"></div>
    </div><!-- /- End of container-->

  </div>
</div><!-- /-End of footer-->