<!-- Footer-->
<div id="footer">
  <div class=" footer-bg footer-background">
    <div class="container">
      <div class="col-md-4 juno-copyright">
        <div>Junoway &copy All rights Reserved 2014</div>
      </div>

      <div class="col-md-6 juno-items-right">
        <div class="juno-footer-links">
            <ul class="juno-link-items">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Policy</a></a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
        </div>
      </div>
        <div class="row-space"></div>
    </div><!-- /- End of container-->

  </div>
</div><!-- /-End of footer-->