<div style="z-index:9999;" id="sub-warning" class="modal">
    <div class="modal-dialog animated zoomIn">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="sub-popup-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="sub-warning-title fa-2x">Warning!</h4>
            </div>
            <div class="modal-body">
                <p class="text-warning sub-warning-content">Subscription to the Junoway Platform is <strong>STRICTY </strong>for registered and licensed healthcare 
                  <strong>Practitioners</strong> and <strong>Facilitators</strong>, Please observe that all information submitted <strong>HERE</strong> is correct and you are authorised to perform this action.</p>
                <p><small>Thank you!</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn sub-btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 