<div style="z-index:9999;" id="error-warning" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="sub-popup-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="sub-warning-title fa-2x">Warning!</h4>
            </div>
            <div class="modal-body">
                    <div class="alert alert-success">
                        <b>Success!</b> Wine saved successfully
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn sub-btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
 