<div class="sub-menu-navbar"></div>
<div class="container sub-row-space">
  <div class="sub-join">
  <h1>Join As:</h1>
  </div>

  <!-- Begining of Practitioners-->
  <div class="col-md-6">
    <div class="panel sub-panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading text-uppercase">Practitioners</div>
        <div class="panel-body">
          <p class="text-danger"><small>Note: STRICTLY For registered and Licensed Healthcare Practitioners</small></p>
        </div>

        <!-- List group -->
        <ul class="sub-list-group">
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Surgeon</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Dentist</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Physician/Doctor</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Registered Nurse</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Lab Assistant</li></a>
          <a href="#/subscription/practitioners"><li class="sub-list-group-item">Health Worker</li></a>
        </ul>
      </div>
  </div><!-- /- End of Practitioners-->



<!-- Begining of Facilitators -->
  <div class="col-md-6">
    <div class="panel sub-panel-success">
        <!-- Default panel contents -->
        <div class="panel-heading text-uppercase">Facilitators</div>
        <div class="panel-body">
          <p class="text-danger"><small>Note: STRICTLY For registered and Licensed Healthcare Facilitators </small></p>
        </div>

        <!-- List group -->
        <ul class="sub-list-group">
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Hospitals</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Clinics</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Laboratories</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Hospice & Recuperation</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Wellness & Spa</li></a>
          <a href="#/subscription/facilitators"><li class="sub-list-group-item">Patient Hostels</li></a>
        </ul>
      </div>
  </div><!-- /- End of Facilitators -->
  </div><!-- /- Container -->










