<!-- Alerts for activation -->
 <div style="z-index:9999;" id="error-warning" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="error-header modal-header">
                <button type="button" class="sub-popup-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="sub-warning-title fa-2x">Warning!</h4>
            </div>
            <div class="error-body modal-body">
                    <div class="alert alert-success">
                        <b>Success!</b> saved successfully
                    </div>
                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn sub-btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container juno-activation-success">
    <div class="juno-alert juno-activation">
        <span class="juno-activation-header">Congratulations!</span><br><br>
                <p>Your Subscription to Junoway was successful, We have sent a link to your inbox to verify your email and activate your account. Please Login to your Email Account!</p><br><br>
    </div>
    <div class="alert-row-space"></div>
</div>
 