    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="juno-tabs navbar-right">
                <li><a class="btn btn-lg btn-hiring" href="#" role="button">We Are Hiring</a></li>
                <li><a class="btn btn-lg btn-login" href="#" role="button">Login</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="flexslider">
            <ul class="slides">
              <li>
                <img src="subscription/assets/images/doc3.jpg" />
              </li>
              <li>
                <img src="subscription/assets/images/doc4.jpg" />
              </li>
              <li>
                <img src="subscription/assets/images/doc.jpg" />
              </li>
            </ul>
          </div>
        </div>
       <div class="juno-caption clearfix" style="background-image:url(subscription/assets/images/header-min-bg.png); background-position:center;">
              <div class="container">
                <div style="margin-left:200px; margin-top:30px;" class="fa-2x">
                <span><p>Over 23, 365, 666 Subcribers</p></span>
                <span><p>3, 342, 444 Practitioners</p></span>
                <span><p>5, 968, Subcribers</p></span>
                </div>
                <div class="juno-member-join row-space">
                <a href="#/subscription"><p class="btn btn-lg btn-join fa-2x">JOIN US NOW</p></a>      
                </div> 
              </div>
            </div>
</div><!-- /.carousel -->

<div class="juno-content clearfix" > 
    <div class="container">
      <div class="col-md-4 row-space">
        <img src="subscription/assets/images/prac.png">
          <h1 class="info-header">Information</h1>
              <div class="information-note">
                <p>Junoway will stash your life’s entire health history and medical data chronologically in real time accessible to your chosen Doctor preconditioned to empowering them for world-class healthcare delivery. We’ll also offer effortless identity of adept practitioner.</p>

              </div>

      </div>

    <div class="col-md-4 row-space">
      <img src="subscription/assets/images/prac3.png">
        <h1 class="info-header">Alliances</h1>
          <div class="alliance-note">
            <p>Network with billions of fellow practitioners who are already exchanging and sharing information and advice related to latest treatment and approaches to medication in terms of technology, Modern medicine and traditional healing experiments. </p>
          </div>

      </div>


    <div class="col-md-4 row-space">
      <img src="subscription/assets/images/prac2.png">
        <h1 class="info-header">Specialization</h1>
          <div class="specialization-note">
              <p>Get an opportunity to (specialise) focus on the speciality you do best while referring other cases from different specialities to well identified, trusted and approved counterparts hence a haven for unbeatable patient satisfaction</p>
          </div>

      </div>
    </div><!-- /.container -->
</div><!-- /.end of juno-content -->
<div class="row-space"></div>

<div class="juno-sub-header-bg clearfix">
  <div class="container">
    <div class="juno-header-note fa-2x"><h1>Junoway is a med-intelligence web-platform which provides Doctors and Patients with an up to the second 
        pro re nata log of your health(Medical) history. </h1>  
    </div>

      <div class="juno-member-join row-space">
              <a href="#/subscription"><p class="btn btn-lg btn-join fa-2x">Become A Member Today</p></a>      
      </div> 
</div>

<div style="background-image:url(subscription/assets/images/bg-join.jpg); background-position:center;">

<div class="juno-join clearfix" > 
    <div class="container">

      <!--<div class="col-md-4 row-space" style="margin-left:50px;">
        <img src="images/prac4.png">
          <h1 class="info-header">For Practitioners</h1>
      </div>

      <div class="col-md-2 row-space">
      </div>

      <div class="col-md-4 row-space">
        <img src="images/prac5.png">
          <h1 class="info-header">For Business</h1>
      </div>

      <div class="juno-member-join row-space">
        <div class="col-md-12">
          <p class="btn btn-lg btn-member fa-2x">Become a Member Today</p>
        </div>-->

      </div>

    </div><!-- /.container -->
</div><!-- /.end of juno-content -->
</div>

<!-- Footer-->
<div id="footer">
  <div id="footer-background">
    <div class="footer-background">
    <div class="container">
      <div class="col-md-4 juno-copyright">
        <div>Junoway &copy All rights Reserved 2014</div>
      </div>

      <div class="col-md-6 juno-items-right">
        <div class="juno-footer-links">
            <ul class="juno-link-items">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Policy</a></a></li>
              <li><a href="#">Advertise</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Help</a></li>
            </ul>
        </div>
      </div>
        <div class="row-space"></div>
    </div><!-- /- End of container-->

  </div>
</div><!-- /-End of footer-->