//BASE CSS
$header-background:#000000;
$background_color: #eeeaea;
$primary_color: #ffffff;
$button_color_hover:#e0456a;
$secondary_color: #eee;
$page_width: 300px;
$font_size:16px;
$font_family_original:"Source Sans Pro";
$font_family_second:"Open sans";
 

//fonts

$helvetica: "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;

$geneva: geneva, tahoma, "dejavu sans condensed", sans-serif;

$lucida: "lucida grande", "lucida sans unicode", "lucida sans", lucida, sans-serif;

$verdana: verdana, "bitstream vera sans", "dejavu sans", "liberation sans", geneva, sans-serif;

$cambria: cambria, georgia, "bitstream charter", "century schoolbook l", "liberation serif", times, serif;

$palatino: "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua",
           "liberation serif", times, serif;

$times: times, "times new roman", "nimbus roman no9 l", freeserif, "liberation serif", serif;

$courier: "courier new", courier, freemono, "nimbus mono l", "liberation mono", monospace;

$monaco: monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono",
monospace;

/* JUNOWAY BODY */

body {
	// Set the background color
	background: $background_color;
	@include font_properties (300, 10px, $font_family_original);
	//overflow-x: hidden;
	font-size: 15pt;
	font-weight: 300;
	line-height: 1.85em;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	@media screen and (max-width: 360px){
 		overflow-x: hidden;
	} 	
}

h1,h2,h3,h4,h5{
	line-height:auto;
	margin-left:20px;
	color:#333;
}

h1,h2,h3{
	font-weight:400
}

h4,h5{
	font-weight:600
}

h1{
	font-size:38px
}

h2{
	font-size:28px
}

h3{
	font-size:24px
}

h4{
	font-size:18px
}
